# (Input) data downloads
16 4-7 * * * sh /projects/NS9001K/owul/projects/discharge_forecast/discharge_forecast/forecast_update.sh >> /projects/NS9001K/owul/projects/discharge_forecast/logs/fc_update.log 2>&1
30 6 * * * sh /projects/NS9001K/owul/projects/discharge_forecast/discharge_forecast/automation_discharge_nve.sh >> /projects/NS9001K/owul/projects/discharge_forecast/logs/sildre_update.log 2>&1
*/10 7-12 * * * sh /projects/NS9001K/owul/projects/discharge_forecast/discharge_forecast/senorge_update.sh >> /projects/NS9001K/owul/projects/discharge_forecast/logs/sn_update.log 2>&1
# Run HBV model & push output to web-exposed directory:
26 8-12 * * * sh /projects/NS9001K/owul/projects/discharge_forecast/discharge_forecast/run_HBV.sh >> /projects/NS9001K/owul/projects/discharge_forecast/logs/HBV_run.log 2>&1